body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 30%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  align-content: center;
}

main {
  height: 50%;
  padding: 20px;
  align-content: center;
}

footer {
  height: 20%;
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 15px;
  align-content: center;
}