.titulo {
  font-size: 40px;
}

.nome-serie {
  font-size: 40px;
  font-weight: 700;
  color: rgb(4, 53, 53);
}

.descricao {
  font-size: 20px;
  margin: 20px 30px;
}

h4 {
  font-size: 30px;
  font-weight: bold;
}

li {
  font-size: 20px;
  font-weight: 700;
  color: rgb(4, 53, 7);
}